$colors: (
 head: #fff,
 word-bg: #1d6eb3,
 btn: #5bb615,
 banner: linear-gradient(270deg, #1d6eb3, #1a901e),
 section: #212834,
 header: #212834,
 footer: #212834,
 background: url("../img/m-h-day.jpg"),
);


