$colors:(
 head: #212834,
 word-bg: #b33804,
 btn: orange,
 banner: linear-gradient(270deg, #f9be30, #a14b6f),
 section: #41506a,
 header: #fff,
 footer: #41506a,
 background: url("../img/m-h-night.jpg"),
);
